* {
  margin: 0;
  padding: 0;
}
body {
  background-color: rgb(217, 217, 217);
}
.top-header {
  background-color: black;
  height: 4em;
  width: 100%;
}
.menu-header {
  background-color: rgb(108, 24, 24);
  height: 11em;
  width: 100%;
}
.slideshow-container {
  background-color: white;
  border: 3px solid blue;
  height: 37em;
  width: 100%;
}
.mini-nav-container {
  background-color: white;
  height: 11em;
  width: 100%;
  border: 3px solid green;
}
