* {
  margin: 0;
  padding: 0;
  font-family: "Open Sans"
}
body {
  background-color: rgb(217, 217, 217);
}
.top-header {
  background-color: black;
  height: 4em;
  width: 100%;
}
.top-header-text {
  color: white;
  font-size: 24px;
  margin-left: 3em;
  padding-top: 1em;
  font-weight: bold;
}
.menu-header {
  background-color: rgb(108, 24, 24);
  height: 11em;
  width: 100%;
}
.slideshow-container {
  background-color: white;
  border: 1px solid darkgray;
  height: 25em;
  width: 100%;
}
.slideshow-img {
  height: 400px;
  width: 215px;

}
.mini-nav-container {
  background-color: white;
  height: 11em;
  width: 100%;
  /* border: 3px solid green; */
}
.content-container {
  border: 3px solid red;
  /* height: 80em; */
  width: 100%;
}
.calendar-container {
  background-color: white;
  width: 20em;
  height: auto;
  border: 1px solid black;
  margin-left: 1em;

}
.twitter-container {
  background-color: white;
  width: 20em;
  border: 1px solid black;
  margin-left: 1em;
}
.news-container {
  background-color: white;
  border: 1px solid black;
  width: 20em;
  height: 50em;
}
.feature-stories-container {
  border: 1px solid black;
  background-color: white;
  width: 20em;
  height: 50em;
}
.main-sub-header {
  background-color: rgb(108, 24, 24);
  height: 3em;
}
.main-sub-header-text {
  color: white;
  font-size: 35px;
  margin-left: .7em;
}
.quick-links-container,
.staff-links-container  {
  border: 1px solid black;
  background-color: white;
  width: 25em;
  height: 100%;
  margin-left: 1em;
}
.quick-links-link,
.staff-links-link {
  font-size: 20px;
  margin: .3em 0 .3em 1.3em;
  list-style-type: none;
}
.quick-links-link:hover,
.staff-links-link:hover {
  text-decoration: underline;
  cursor: pointer;
  color: rgb(83, 66, 68);
}
.right-icon {
  color: rgb(108, 24, 24);
  margin: 0 .5em 0 -.8em;
}
.mini-nav-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
.mini-nav-icons-wrap {
  display: flex;
  flex-direction: column;
}
.mini-nav-text {
  color: rgb(108, 24, 24);
  font-size: 24px;
  margin: auto;
  margin-top: 1em;
}
.mini-nav-text:hover {
  background-color: gray;
  cursor: pointer;
  border-radius: 5px;
  padding: 0 8px;
  color: white;
}
.mini-nav-icon {
  color: rgb(108, 24, 24);
}
